<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
      jdbc:mysql://localhost/internet-shop
    </property>
    <property name="connection.driver_class">
      com.mysql.jdbc.Driver
    </property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
    </property>

    <property name="hibernate.connection.username">
      root
    </property>
    <property name="hibernate.connection.password">
      myRecognition37289
    </property>

    <mapping resource="models/Client.hbm.xml"/>
    <mapping resource="models/Producer.hbm.xml"/>
    <mapping resource="models/Product.hbm.xml"/>
    <mapping resource="models/ProductType.hbm.xml"/>
    <mapping resource="models/Purchase.hbm.xml"/>
    <mapping resource="models/PurchaseProducts.hbm.xml"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>